/* author = taksenov@gmail.com */
/* Fonts */
@font-face {
  font-family: "MyriadPro-Bold";
  src: url("../fonts/myriadpro/MyriadPro-Bold.eot");
  src: url("../fonts/myriadpro/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro/MyriadPro-Bold.woff") format("woff"), url("../fonts/myriadpro/MyriadPro-Bold.ttf") format("truetype"), url("../fonts/myriadpro/MyriadPro-Bold.svg#MyriadPro-Bold") format("svg");
}
@font-face {
  font-family: "MyriadPro-BoldCond";
  src: url("../fonts/myriadpro/MyriadPro-BoldCond.eot");
  src: url("../fonts/myriadpro/MyriadPro-BoldCond.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro/MyriadPro-BoldCond.woff") format("woff"), url("../fonts/myriadpro/MyriadPro-BoldCond.ttf") format("truetype"), url("../fonts/myriadpro/MyriadPro-BoldCond.svg#MyriadPro-BoldCond") format("svg");
}
@font-face {
  font-family: "MyriadPro-BoldCondIt_0";
  src: url("../fonts/myriadpro/MyriadPro-BoldCondIt_0.eot");
  src: url("../fonts/myriadpro/MyriadPro-BoldCondIt_0.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro/MyriadPro-BoldCondIt_0.woff") format("woff"), url("../fonts/myriadpro/MyriadPro-BoldCondIt_0.ttf") format("truetype"), url("../fonts/myriadpro/MyriadPro-BoldCondIt_0.svg#MyriadPro-BoldCondIt_0") format("svg");
}
@font-face {
  font-family: "MyriadPro-Cond";
  src: url("../fonts/myriadpro/MyriadPro-Cond.eot");
  src: url("../fonts/myriadpro/MyriadPro-Cond.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro/MyriadPro-Cond.woff") format("woff"), url("../fonts/myriadpro/MyriadPro-Cond.ttf") format("truetype"), url("../fonts/myriadpro/MyriadPro-Cond.svg#MyriadPro-Cond") format("svg");
}
@font-face {
  font-family: "MyriadPro-It";
  src: url("../fonts/myriadpro/MyriadPro-It.eot");
  src: url("../fonts/myriadpro/MyriadPro-It.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro/MyriadPro-It.woff") format("woff"), url("../fonts/myriadpro/MyriadPro-It.ttf") format("truetype"), url("../fonts/myriadpro/MyriadPro-It.svg#MyriadPro-It") format("svg");
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/myriadpro/MyriadPro-Regular.eot");
  src: url("../fonts/myriadpro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro/MyriadPro-Regular.woff") format("woff"), url("../fonts/myriadpro/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/myriadpro/MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
}
@font-face {
  font-family: "MyriadPro-Semibold";
  src: url("../fonts/myriadpro/MyriadPro-Semibold.eot");
  src: url("../fonts/myriadpro/MyriadPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro/MyriadPro-Semibold.woff") format("woff"), url("../fonts/myriadpro/MyriadPro-Semibold.ttf") format("truetype"), url("../fonts/myriadpro/MyriadPro-Semibold.svg#MyriadPro-Semibold") format("svg");
}
.myriad-b {
  font-family: "MyriadPro-Bold";
}
.myriad-bc {
  font-family: "MyriadPro-BoldCond";
}
.myriad-bcit_0 {
  font-family: "MyriadPro-BoldCondIt_0";
}
.myriad-c {
  font-family: "MyriadPro-Cond";
}
.myriad-it {
  font-family: "MyriadPro-It";
}
.myriad-r {
  font-family: "MyriadPro-Regular";
}
.myriad-sb {
  font-family: "MyriadPro-Semibold";
}
/* ------------------------------------------- */
/* MainSettings */
/* MIXINS */
/* by https://bitbucket.org/wowua/ */
.inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.wrapper {
  position: relative;
  min-height: 670px;
  height: auto !important;
  height: 100%;
  overflow: hidden;
  min-width: 1010px;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  padding: 0;
  left: 0;
  list-style: none outside none;
}
p {
  padding: 0;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  background: url("../img/common/bg.png") #e5e5e5;
}
/* ------------------------------------------- */
/* MainContainer */
.maincontent {
  padding-top: 10px;
}
.maincontainer {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  width: 1000px;
  height: 650px;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
  margin: auto;
}
.maincontainer:before,
.maincontainer:after {
  content: "";
  display: table;
}
.maincontainer:after {
  clear: both;
}
/* ------------------------------------------- */
/* GridColumns */
/* гвоздь! для row выяснилось что margin-right: -15px;
margin-left: -15px; */
.row {
  margin-left: 0;
  margin-right: 0;
}
.maincontainer__gridcols .cols {
  float: left;
  margin: 0;
  padding: 0;
  /*    background: #2a6496;*/
  border: 1px solid #000000;
}
.maincontainer__gridcols .cols.col-6 {
  width: 50%;
}
.maincontainer__gridcols .cols.col-12 {
  width: 100%;
}
.cl-01 {
  height: 78px  ;
}
.cl-02 {
  height: 236px ;
}
.cl-03 {
  height: 16px  ;
}
.cl-04 {
  height: 170px ;
}
.cl-05 {
  height: 150px ;
}
/* ------------------------------------------- */
/* CaptionBlock */
.csbg-caption {
  text-transform: uppercase;
  /*    font-family: 'Segoe UI';*/
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  padding-top: 28px;
  text-align: center;
  line-height: 1;
}
/* ------------------------------------------- */
/* Options and Result block */
.options__caption {
  width: auto;
  border: 1px solid #000000;
}
.options__caption p {
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
  line-height: 1;
}
.options__br-radius {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.options__br-radius:before,
.options__br-radius:after {
  content: "";
  display: table;
}
.options__br-radius:after {
  clear: both;
}
.options__br-radius_label {
  float: left;
  width: 37.2%;
  border: 1px solid #000000;
  padding-top: 36px;
  text-align: right;
  line-height: 1;
}
.br-radius_slider {
  float: left;
  width: 62.8%;
  border: 1px solid #000000;
  padding-top: 42px;
  padding-left: 28px;
  padding-right: 80px;
}
.options__br-size {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.options__br-size:before,
.options__br-size:after {
  content: "";
  display: table;
}
.options__br-size:after {
  clear: both;
}
.options__br-size_label {
  float: left;
  width: 37.2%;
  border: 1px solid #000000;
  padding-top: 38px;
  text-align: right;
  line-height: 1;
}
.br-size_slider {
  float: left;
  width: 62.8%;
  border: 1px solid #000000;
  padding-top: 42px;
  padding-left: 28px;
  padding-right: 80px;
}
.options__btn-text {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.options__btn-text:before,
.options__btn-text:after {
  content: "";
  display: table;
}
.options__btn-text:after {
  clear: both;
}
.options__btn-text_label {
  float: left;
  width: 37.2%;
  border: 1px solid #000000;
  padding-top: 38px;
  text-align: right;
  line-height: 1;
}
.btn-text {
  float: left;
  width: 62.8%;
  border: 1px solid #000000;
  padding-top: 30px;
  padding-left: 28px;
  /*    padding-right: 80px;*/
}
.btn-text_input {
  width: 200px;
  height: 28px;
}
.result__caption {
  width: auto;
  border: 1px solid #000000;
}
.result__caption p {
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
  line-height: 1;
}
.result__button {
  padding-top: 70px;
  padding-left: 170px;
}
.result__button .result__button_prop {
  height: 45px;
  width: 140px;
}
/* ------------------------------------------- */
